extends base.pug

block style
  style
    include ../public/style.css
    include ../public/details.css

block scripts
  script(src='../static/details.js')

block content
  div.container
    h1 Item Details
    // Display the item details here
    div.mini
       table 
          tr
             td 
               h4 Type
             td 
               p #{item.Type}
          tr
             td
               h4 Item Description
             td 
               p #{item.Item_Description}
          tr
             td
               h4 Unit
             td
               p #{item.unit}
   
          tr
             td
               h4 OEM
             td
               p #{item.OEM}
            
  
          tr
             td
               h4 RDSO Specification no.
             td
               p #{item.RDSO_Specification_no}

          tr
             td
               h4 RDSO Approval Status
             td
               p #{item.RDSO_Approval_Status}
          tr
             td
               h4 Drawing/Datasheet
             td
               p
                 a(href=item.links target="_blank")= item.Drawing_Datasheet
          tr
             td
               h4 Unit Price
             td
               p #{item.Unit_Price}
          tr
             td
               h4 Status of Drawing/DataSheet
             td
               p #{item.Status_of_Drawing_DataSheet}
        
  
    //- Add more properties as needed
